apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: dev

resources:
  - ../../base

patches:
  - path: patches/kafka/stateful-set.yaml
  - path: patches/user-service/deployment.yaml
  - path: patches/auth-service/deployment.yaml
  - path: patches/api-gateway/deployment.yaml
  - path: patches/api-gateway/ingress.yaml
  - path: patches/order-service/deployment.yaml
  - path: patches/discovery-service/deployment.yaml

configMapGenerator:
  - name: common-env
    options:
      disableNameSuffixHash: true
    literals:
      - SPRING_PROFILES_ACTIVE=dev
      - EUREKA_HOST=discovery-service
      - EUREKA_PORT=8761
      - REDIS_HOST=redis
      - REDIS_PORT=6379
  - name: user-service-env
    options:
      disableNameSuffixHash: true
    literals:
      - DB_URL=jdbc:postgresql://postgres:5432/user_service_db
  - name: order-service-env
    options:
      disableNameSuffixHash: true
    literals:
      - DB_URL=jdbc:postgresql://postgres:5432/order_service_db
  - name: auth-service-env
    options:
      disableNameSuffixHash: true
    literals:
      - DB_URL=jdbc:postgresql://postgres:5432/auth_service_db