apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: payment-service
  template:
    metadata:
      labels:
        app: payment-service
    spec:
      containers:
        - name: payment-service
          envFrom:
            - configMapRef:
                name: common-env
            - configMapRef:
                name: payment-service-env
            - secretRef:
                name: payment-service-credentials
          image: desckapg/inno-microservices-payment-service:latest
          ports:
            - containerPort: 8084
          readinessProbe:
            httpGet:
              path: actuator/health/readiness
              port: 8084
            initialDelaySeconds: 10
          livenessProbe:
            httpGet:
              path: actuator/health/liveness
              port: 8084
            initialDelaySeconds: 10
            periodSeconds: 5
