apiVersion: v1
kind: Service
metadata:
  name: payment-service
spec:
  type: ClusterIP
  ports:
    - name: payment-service
      port: 8084
      targetPort: 8084
      protocol: TCP
  selector:
    app: payment-service
