##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*

##############################
## Gradle
##############################
bin/
build/
.gradle
gradle/*
.gradletasknamecache
gradle-app.setting
!gradle/libs.versions.toml

##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

##############################
## Miscellaneous
##############################
*.log

##############################
## Configuration
##############################
*.env*
!.env.example

##############################
## Other
##############################
*HELP.md*