apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      containers:
        - name: auth-service
          envFrom:
            - configMapRef:
                name: common-env
            - configMapRef:
                name: auth-service-env
            - secretRef:
                name: auth-service-credentials
          image: desckapg/inno-microservices-auth-service:latest
          ports:
            - containerPort: 8082
          readinessProbe:
            httpGet:
              path: actuator/health/readiness
              port: 8082
            initialDelaySeconds: 10
          livenessProbe:
            httpGet:
              path: actuator/health/liveness
              port: 8082
            initialDelaySeconds: 10
            periodSeconds: 5
