apiVersion: v1
kind: Service
metadata:
  name: auth-service
spec:
  type: ClusterIP
  ports:
    - name: auth-service
      port: 8082
      targetPort: 8082
      protocol: TCP
  selector:
    app: auth-service
