apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
        - name: order-service
          envFrom:
            - configMapRef:
                name: common-env
            - configMapRef:
                name: order-service-env
            - secretRef:
                name: order-service-credentials
          image: desckapg/inno-microservices-order-service:latest
          ports:
            - containerPort: 8083
