apiVersion: v1
kind: Service
metadata:
  name: order-service
spec:
  type: ClusterIP
  ports:
    - name: order-service
      port: 8083
      targetPort: 8083
      protocol: TCP
  selector:
    app: order-service
