management:
  tracing:
    sampling:
      probability: 0.1
  endpoints:
    web:
      exposure:
        include: health,circuitbreakers
  opentelemetry:
    tracing:
      export:
        otlp:
          endpoint: ${OLTP_EXPORT_SERVER}/v1/traces
    logging:
      export:
        otlp:
          endpoint: ${OLTP_EXPORT_SERVER}/v1/logs
  otlp:
    metrics:
      export:
        url: ${OLTP_EXPORT_SERVER}/v1/metrics
