services:
  postgres:
    image: postgres:18.1-alpine
    volumes:
      - postgres-data:/var/lib/postgresql
      - ./postgres-init:/docker-entrypoint-initdb.d
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    env_file:
      - .env
    ports:
      - '5432:5432'
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 1024M
        reservations:
          cpus: '0.5'
          memory: 512M
    command: >
      postgres -c max_connections=1000
                 -c shared_buffers=512MB
                 -c effective_cache_size=1536MB
                 -c maintenance_work_mem=128MB
                 -c checkpoint_completion_target=0.7
                 -c wal_buffers=16MB
                 -c default_statistics_target=100
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 10s
      retries: 5
  redis:
    image: redis:8.4-alpine
    volumes:
      - redis-data:/data
      - ./redis-init:/redis-init
    env_file:
      - .env
    command: sh /redis-init/start.sh
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 15s
      timeout: 10s
      retries: 5
    tty: true
    stdin_open: true
  mongo:
    image: mongo:8.2
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
    volumes:
      - mongo-data:/data/db
    ports:
      - '27017:27017'
  kafka:
    image: apache/kafka-native:4.1.1
    environment:
      - CLUSTER_ID='LOCAL'
      - KAFKA_NODE_ID=1
      - KAFKA_PROCESS_ROLES=broker,controller
      - KAFKA_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
      - KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      - KAFKA_CONTROLLER_QUORUM_VOTERS=1@localhost:9093
      - KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
      - KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=1
      - KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=1
      - KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS=0
      - KAFKA_NUM_PARTITIONS=1
    ports:
      - '9092:9092'
  discovery-service:
    image: discovery-service:latest
    build:
      context: ../discovery-service
    ports:
      - "8761:8761"
  api-gateway:
    image: api-gateway:latest
    depends_on:
      - discovery-service
    build:
      context: ../api-gateway
    env_file:
      - ./.env.api-gateway
    ports:
      - "8080:8081"
  user-service:
    image: user-service:latest
    depends_on:
      - postgres
      - redis
      - discovery-service
      - grafana
    build:
      context: ../user-service
    env_file:
      - .env.user-service
    ports:
      - "8081:8081"
  auth-service:
    image: auth-service:latest
    depends_on:
      - postgres
      - discovery-service
    build:
      context: ../auth-service
    env_file:
      - .env.auth-service
    ports:
      - "8082:8082"
  order-service:
    image: order-service:latest
    depends_on:
      - postgres
      - redis
      - discovery-service
      - kafka
    build:
      context: ../order-service
    env_file:
      - .env.order-service
    ports:
      - "8083:8083"
  payment-service:
    image: payment-service:latest
    depends_on:
      - kafka
      - redis
      - mongo
      - discovery-service
    build:
      context: ../payment-service
    env_file:
      - .env.payment-service
    ports:
      - "8084:8084"
  init-permissions:
    image: busybox:latest
    user: root
    command: >
      sh -c "chown -R 10001:10001 /var/tempo && chown -R 10001:10001 /hadoop/loki"
    volumes:
      - ./tempo-data:/var/tempo
      - loki-data:/hadoop/loki
  grafana-tempo:
    image: grafana/tempo:latest
    command: [ "-config.file=/etc/tempo.yaml" ]
    volumes:
      - ./grafana-tempo/tempo.yaml:/etc/tempo.yaml
      - grafana-tempo:/var/tempo
    ports:
      - "3200:3200"
    depends_on:
      init-permissions:
        condition: service_completed_successfully
  grafana:
    image: grafana/grafana-enterprise:12.4.0-20904407122
    container_name: grafana
    restart: unless-stopped
    depends_on:
      - grafana-alloy
    ports:
      - "3000:3000"
    volumes:
      - grafana-storage:/var/lib/grafana
      - ./grafana/provisioning/datasources:/etc/grafana/provisioning/datasources
  prometheus:
    image: prom/prometheus:v3.9.1
    container_name: prometheus
    restart: unless-stopped
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yaml:/etc/prometheus/prometheus.yml:ro
      - prometheus-data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.enable-otlp-receiver'
  grafana-alloy:
    image: grafana/alloy:v1.12.2
    container_name: grafana-alloy
    depends_on:
      - prometheus
      - loki
      - grafana-tempo
    ports:
      - "12345:12345"
      - "4318:4318"
      - "4317:4317"
    volumes:
      - grafana-alloy:/var/lib/alloy/data
      - ./grafana-alloy/config.alloy:/etc/alloy/config.alloy
    command:
      - 'run'
      - '/etc/alloy/config.alloy'
      - '--server.http.listen-addr=0.0.0.0:12345'
      - '--storage.path=/var/lib/alloy/data'
  loki:
    image: grafana/loki:main-c7c1411
    container_name: loki
    depends_on:
      init-permissions:
        condition: service_completed_successfully
    volumes:
      - loki-data:/hadoop/loki
      - ./loki/config.yaml:/etc/loki/local-config.yaml
    ports:
      - "3100:3100"
    command:
      '-config.file=/etc/loki/local-config.yaml'

volumes:
  postgres-data:
  redis-data:
  mongo-data:
  grafana-storage:
  prometheus-data:
  grafana-alloy:
  loki-data:
  grafana-tempo:
