services:
  mongo:
    image: mongo:latest
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
    volumes:
      - mongo:/data/db
    ports:
      - '27017:27017'
  payment-service:
    image: payment-service:latest
    depends_on:
      - mongo
    build:
      args:
        DOCKER_BUILDKIT: 1
    restart: "no"

volumes:
  mongo: