apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
spec:
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
        - name: user-service
          envFrom:
            - configMapRef:
                name: common-env
            - configMapRef:
                name: user-service-env
            - secretRef:
                name: user-service-credentials
          image: desckapg/inno-microservices-user-service:latest
          ports:
            - containerPort: 8081
