apiVersion: v1
kind: Service
metadata:
  name: user-service
spec:
  type: ClusterIP
  ports:
    - name: user-service
      port: 8081
      targetPort: 8081
      protocol: TCP
  selector:
    app: user-service