apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    uid: prometheus-datasource
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      httpMethod: POST
      timeInterval: "5s"
  - name: Loki
    type: loki
    uid: loki-datasource
    access: proxy
    url: http://loki:3100
    editable: true
    jsonData:
      httpMethod: POST
      timeInterval: "5s"